.wrapper
    display: flex
    align-items: center
    justify-content: space-between
    background-color: var(--task-bg-color)
    padding: 12px 25px
    border-radius: 0.25rem
    margin-bottom: 10px

.item
    display: flex
    text-align: center

.input:checked,
.input:not(:checked)
    position: absolute
    left: -9999px

.input:checked + label,
.input:not(:checked) + label
    display: inline-block
    position: relative
    padding-left: 28px
    line-height: 20px
    cursor: pointer
    bottom: 1px

.input:checked + label:before,
.input:not(:checked) + label:before
    content: ""
    position: absolute
    left: 0px
    top: 0px
    width: 18px
    height: 18px
    border: 2px solid var(--checkbox-disabled-border-color)
    background-color: var(--checkbox-disabled-bg-color)
    border-radius: 2px

.input:checked + label:after,
.input:not(:checked) + label:after
    content: ""
    position: absolute
    transition: all 0.2s ease
    left: 4px
    top: 5px
    width: 10px
    height: 5px
    border-radius: 1px
    border-left: 4px solid var(--checkbox-active-border-color)
    border-bottom: 4px solid var(--checkbox-active-border-color)
    transform: rotate(-45deg)

.input:not(:checked) + label:after
    opacity: 0

.input:checked + label:after
    opacity: 1

.text
    font-size: 18px
    margin-left: 5px
    color: var(--task-text-color)

.completed
    text-decoration: line-through
    font-size: 18px
    margin-left: 5px
    color: var(--task-text-color)

.trash
    display: block
    margin-top: 3px
    cursor: pointer

.content
    display: flex
    align-items: center
