.link
    display: block
    padding: 17px 29px
    max-width: 150px
    text-transform: uppercase
    font-weight: 600
    font-size: 15px
    color: #64646499
    transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out

.active
    display: block
    padding: 17px 29px
    max-width: 150px
    text-transform: uppercase
    font-weight: 600
    font-size: 15px
    transition: color .15s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out
    color: #1266f1
    border-bottom: 2px solid #1266f1
    &:hover
        background-color: #f0f0f0
